hostname {{ hostname }}
user admin group administrators password plaintext admin
clock timezone europe/paris
{{ 'no ip icmp redirect' if disable_icmp_redirect }}
ntp server pool.ntp.org minpoll 4 maxpoll 4 iburst
ntp enable
!
!
!
ssh server vrf mgmt
!
vlan 1
!
{% for vlan in vlans %}
vlan {{ vlan['id'] }}
    name {{ vlan['name'] }}
    vsx-sync
!
!
!
{% endfor %}
!
!
!
interface mgmt
    no shutdown
    ip static {{ mgmt_ip }}
    default-gateway 10.167.0.1
    nameserver 10.2.40.1
!
!
!
{% for lag in lags_no_routing %}
interface lag {{ lag['id'] }} {{ 'multi-chassis' if lag['multi_chassis'] }}
    description {{ lag['description'] }}
    no shutdown
    no routing
{% if lag['vlan'] %}
    vlan access {{ lag['vlan'] }}
{% else %}
    vlan trunk native 1 tag
    vlan trunk allowed all
{% endif %}
    lacp mode active
!
!
!
{% endfor %}
!
!
!
interface lag 100
    description ISL
    no shutdown
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active
!
!
!
interface {{ isl_link1 }}
    no shutdown
    lag 100
!
!
interface {{ isl_link2 }}
    no shutdown
    lag 100
!
!
{% for int in lag_ints %}
int {{ int['int'] }}
    no shutdown
    lag {{ int['lag'] }}
!
!
!
{% endfor %}
!
{% if int_access is defined %}{% for int in int_access %}
int {{ int['int'] }}
    no shutdown
    no routing
    vlan access {{ int['vlan'] }}
    description {{ int['description'] }}
!
!
!
{% endfor %}{% endif %}
!
interface {{ ka_link }}
    no shutdown
    ip address {{ ka_ip }}
{% if loopback_ip is defined %}
    ip ospf 1 area 0.0.0.0
{% endif %}
!
!
!
{% if loopback_ip is defined %}
interface loopback 1
    ip address {{ loopback_ip }}
    ip ospf 1 area 0.0.0.0
!
!
!
{% for int in vlan_int %}
interface vlan {{ int['id'] }}
    no shutdown
    ip address {{ int['ip'] }}
    ip ospf 1 area 0.0.0.0
    {{ 'ip ospf passive' if int['ospf_passive'] }}
    {{ 'active-gateway ip mac ' ~ int['ag_mac'] if int['ag_mac'] else 'vsx active-forwarding' if int['active_forwarding'] }}
    {{ 'active-gateway ip ' ~ int['ag_ip'] if int['ag_ip'] }}
!
{% endfor %}{% endif %}
!
!
!
vsx
    system-mac {{ system_mac }}
    inter-switch-link lag 100
    role {{ vsx_role }}
    keepalive peer {{ ka_peer }} source {{ ka_source }}
    vsx-sync aaa bfd-global bgp dns lldp loop-protect-global mclag-interfaces neighbor ospf qos-global route-map snmp ssh stp-global time vsx-global
!
!
!
{% if loopback_ip is defined %}
router ospf 1
    redistribute connected
    area 0.0.0.0
{% endif %}
!
!
!
{% if asn is defined %}
router bgp {{ asn }}
    bgp router-id {{ router_id }}
    bgp log-neighbor-changes
{% for neighbor in bgp_neighbor %}
    neighbor {{ neighbor['ip'] }} remote-as {{ neighbor['asn'] }}
    neighbor {{ neighbor['ip'] }} update-source {{ neighbor['update_source'] }}
{% endfor%}
    address-family ipv4 unicast
{% for neighbor in bgp_neighbor %}
        neighbor {{ neighbor['ip'] }} activate
{{ '        neighbor ' ~ neighbor['ip'] ~ ' route-reflector-client' if neighbor['rr'] }}
{{ '        neighbor ' ~ neighbor['ip'] ~ ' default-originate' if neighbor['default_originate'] }}
{% endfor %}
        redistribute connected
        network {{ loopback_ip }}
    exit-address-family
    enable
{% endif %}
!
!
!
https-server rest access-mode read-write
https-server vrf mgmt